<div class="changepassword-container">
    <h2>Change Password</h2>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="password">New Password:</label>
            <input id="password" formControlName="password" type="text" style="margin-left: 25px;" />
            <a *ngIf="(changePasswordForm.get('password')?.hasError('required') && changePasswordForm.get('password')?.touched) || 
               (changePasswordForm.get('password')?.hasError('required') && submitted)" style="color: red;">
                *
            </a>
        </div>
        <div style="margin-left: 150px;">
            <button type="submit" [disabled]="loading">Change</button>
            <button *ngIf="isVisible"  (click)="navigateTo('welcome')">Back</button>
        </div>
        <div *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</div>
    </form>
</div>