<div class="resetpassword-container">
    <h2>Reset Password</h2>
    <div *ngIf="errorMessage" [ngStyle]="{'color': messageColor}">{{ errorMessage }}</div>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="username">Username:</label>
            <input id="username" formControlName="username" type="text" style="margin-left: 25px;" />
            <a *ngIf="(resetPasswordForm.get('username')?.hasError('required') && resetPasswordForm.get('username')?.touched) || 
               (resetPasswordForm.get('username')?.hasError('required') && submitted)" style="color: red;">
                *
            </a>
        </div>
        <div style="margin-left: 100px;">
            <button type="submit" [disabled]="loading">Reset</button>
            <button type="button" (click)="navigateTo('login')">Back</button>
        </div>
    </form>
</div>